<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:property name="acc_x_dim" value="0.02"/>
    <xacro:property name="acc_y_dim" value="0.015"/>
    <xacro:property name="acc_z_dim" value="0.001"/>

    <xacro:property name="acc_x_offset" value="0.13"/>

    <xacro:property name="acc_density" value="2710.0"/>

    <xacro:property name="acc_mass" value="${acc_density*acc_x_dim*acc_y_dim*acc_z_dim}"/>
    
    <!-- LIDAR LINK -->

	<joint name="acc_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_frame"/>
        <origin xyz="${acc_x_offset} 0 ${acc_z_dim*0.5+main_body_z_dim}"/>
    </joint>

    <link name="imu_frame">
        <visual>
            <geometry>
                <box size="${acc_x_dim} ${acc_y_dim} ${acc_z_dim}"/>
            </geometry>
            <material name="blue"/>
        </visual>

        <collision>
            <geometry>
                <box size="${acc_x_dim} ${acc_y_dim} ${acc_z_dim}"/>
            </geometry>
        </collision>
    </link>

    

</robot>